:root {
  --primari: rgba(0, 53, 102, 1);
  --primari-2: rgba(255, 195, 0, 1);
  --secundari: rgba(115, 174, 230, 1);
  --secundari-2: rgba(0, 29, 61, 1);
  --secundari-3: rgba(255, 214, 10, 1);
  --error: rgba(255, 89, 94, 1);
  --alerta: rgba(255, 153, 58, 1);
  --succes: rgba(138, 201, 38, 1);
  --info: rgba(25, 130, 196, 1);
  --gris-1: rgba(51, 51, 51, 1);
  --gris-2: rgba(79, 79, 79, 1);
  --gris-3: rgba(130, 130, 130, 1);
  --gris-4: rgba(189, 189, 189, 1);
  --gris-5: rgba(224, 224, 224, 1);
 
  --h-1-font-family: "Bebas Neue", Helvetica;
  --h-1-font-weight: 400;
  --h-1-font-size: 6dvw;
  --h-1-letter-spacing: 0px;
  --h-1-line-height: 90px;
  --h-1-font-style: normal;
  --h-2-font-family: "Bebas Neue", Helvetica;
  --h-2-font-weight: 400;
  --h-2-font-size: 4dvw;
  --h-2-letter-spacing: 0px;
  --h-2-line-height: normal;
  --h-2-font-style: normal;
  --h-3-font-family: "Outfit", Helvetica;
  --h-3-font-weight: 600;
  --h-3-font-size: 2dvw;
  --h-3-letter-spacing: 0px;
  --h-3-line-height: normal;
  --h-3-font-style: normal;
  --p-font-family: "Outfit", Helvetica;
  --p-font-weight: 400;
  --p-font-size: 1.2dvw;
  --p-letter-spacing: 0px;
  --p-line-height: normal;
  --p-font-style: normal;
  --p-strong-font-family: "Outfit", Helvetica;
  --p-strong-font-weight: 600;
  --p-strong-font-size: 1.3dvw;
  --p-strong-letter-spacing: 0px;
  --p-strong-line-height: normal;
  --p-strong-font-style: normal;
  --p-2-font-family: "Fraunces", Helvetica;
  --p-2-font-weight: 400;
  --p-2-font-size: 0.7dvw;
  --p-2-letter-spacing: 0px;
  --p-2-line-height: 15px;
  --p-2-font-style: normal;
  --info-font-family: "Fraunces", Helvetica;
  --info-font-weight: 400;
  --info-font-size: 0.6dvw;
  --info-letter-spacing: 0px;
  --info-line-height: normal;
  --info-font-style: normal;
  --h-4-font-family: "BebasNeue", Helvetica;
  --h-4-font-weight: 400;
  --h-4-font-size: 4dvw;
  --h-4-letter-spacing: 0px;
  --h-4-line-height: normal;
  --h-4-font-style: normal;
  --p-screen-font-family: "Outfit", Helvetica;
  --p-screen-font-weight: 400;
  --p-screen-font-size: 1.5dvw;
  --p-screen-letter-spacing: 0px;
  --p-screen-line-height: normal;
  --p-screen-font-style: normal;
  --p-screen-big-font-family: "Outfit", Helvetica;
  --p-screen-big-font-weight: 600;
  --p-screen-big-font-size: 2dvw;
  --p-screen-big-letter-spacing: 0px;
  --p-screen-big-line-height: normal;
  --p-screen-big-font-style: normal;
  --p2-screen-font-family: "Fraunces", Helvetica;
  --p2-screen-font-weight: 400;
  --p2-screen-font-size: 1.1dvw;
  --p2-screen-letter-spacing: 0px;
  --p2-screen-line-height: normal;
  --p2-screen-font-style: normal;
  --p2-big-screen-font-family: "Fraunces", Helvetica;
  --p2-big-screen-font-weight: 400;
  --p2-big-screen-font-size: 3dvw;
  --p2-big-screen-letter-spacing: 0px;
  --p2-big-screen-line-height: normal;
  --p2-big-screen-font-style: normal;

}
